# Ensure build tools are available:
setuptools
wheel

# Core packages:
streamlit==1.24.1
yfinance==0.2.24
pandas==2.1.1
numpy==1.25.2
matplotlib==3.7.2
ta==0.11.0
prophet==1.1.7
tensorflow==2.19.0
scikit-learn==1.6.1
